<!DOCTYPE html>
<html>
<head>
  <script
  src = "https://code.jquery.com/jquery-3.1.1.min.js"
  integrity = "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin = "anonymous"></script>
  <script src="static/js/jquery.json-viewer.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="icon"
      type="image/png"
      href="/static/assets/icon.png">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <meta name="description" content='The latest deleted tweets from celebrities, politicians, and other public figures--including Donald Trump.'>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Optional theme -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link href="static/css/jquery.json-viewer.css" rel="stylesheet">
  <title>{{brand}}: latest deleted tweets from politicians, celebrities, and public figures</title>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="initial-scale=1">
  <style>
  .main{
    margin-top: 100px;
  }
  .profile-photo{
    border-radius: 5px;
  }
  h1, h2, h3, h4, h5, h6{
    display: inline;
  }
  .arvo{
    font-family: 'Arvo', serif;
  }
  #logo{
    height: 100px;
  }
  </style>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container main">
        <h2>Latest Deleted Tweets</h2> <small>{{count}} deleted tweets in database</small>
        <hr>
        {% set i = 0 %}
        {% for status in deleted[:200] %}
        <div class="tweet" id="tweet-{{i}}">
          <div class="panel panel-default">
            <div class="panel-body">
              <img style="border-radius: 5px;" src="{{status["user"]["profile_image_url"]}}"> <a href="/figure?account={{status["user"]["id"]}}"><strong>{{status["user"]["name"]}}</strong></a> <small>@{{status["user"]["screen_name"]}}</small><br>
              <br><h4><span class="tweet-text">{% apply linkify %}{% raw status["text"] %}{% end %}</span></h4>
              <p>
                <i>
                  <small>{{status["created_at"]}}</small>
                </i>&nbsp;<span class="label label-danger">DELETED</span>
              </p>
              &nbsp;
              <a href="tweet?account={{status["user"]["id"]}}&tweet={{status["id"]}}" class="btn btn-primary btn-xs">View Full Tweet</a>
            </div>
          </div>
        </div>
        {% set i += 1 %}
        {% end %}
    <hr>
  </div>
  {% include "analytics.html" %}
</body>
</html>
