<!DOCTYPE html>
<html>
<head>
  <script
  src = "https://code.jquery.com/jquery-3.1.1.min.js"
  integrity = "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin = "anonymous"></script>
  <script src="static/js/jquery.json-viewer.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="icon"
      type="image/png"
      href="/static/assets/icon.png">

  <meta name="description" content='Monitoring celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets. See what they do not want you to see!'>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link href="static/css/jquery.json-viewer.css" rel="stylesheet">
  <meta name="google-site-verification" content="cyi_LXJsUprjCX95bH4X5sL3Mw1qxoNY1QUqEFE9Koo" />
  <title>{{brand}}: monitoring celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets. See what they do not want you to see!</title>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="initial-scale=1">
  <style>
  .main{
    margin-top: 100px;
  }
  .profile-photo{
    border-radius: 5px;
  }
  h1, h2, h3, h4, h5, h6{
    display: inline;
  }
  .arvo{
    font-family: 'Arvo', serif;
  }
  #logo{
    height: 100px;
  }
  </style>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container main">
    <div class="jumbotron">
      <h1><span class="arvo">{{brand}}</span></h1>
      <p>Monitoring <strong>{{count}}</strong> celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets. See what they don't want you to see.</p>
      <hr>
      <p>We've archived <strong>{{total_deleted}}</strong> deleted tweets from major public figures.</p>
      <hr>
      <a href="figures" class="btn btn-primary">Explore the Database</a>
      <div class="hidden-md hidden-lg">
        <br>
      </div>
      <a href="/figure?account=25073877" class="btn btn-primary">Trump's Deleted Tweets</a>
    </div>
    <p>Are you a journalist or researcher looking for specific data or special analysis? <a href="mailto:secure@politiwatch.org">Get in touch.</a> We've done this before, and we'll help you out for free.</p>
    <hr>
    <footer>{{brand}} is a <a href="https://politiwatch.org" class="arvo">Politiwatch</a> initiative. More info available here: <a href="https://polititweet.org/about">about</a>.<br><br></footer>
  </div>
  {% include "analytics.html" %}
</body>
</html>
